@media only screen and (min-width: 64rem) {
    /* ******** HEADER ******** */

    /* Add max width to not take up full screen */
    header, main, nav, footer {
        width: 100%;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    /* ******** NAVIGATION ******** */

    /* Only display hamburger in small viewports */
    .hamburger {
        display: none;
    }

    /* Display Nav Links in large viewports */
    .navigation {
        display: block;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5px;
    }

    .navigation ul > li {
        width: 100%;
    }

    /* ******** FOOTER ******** */
    .page-info {
        display: flex;
        justify-content: space-around;
    }

    /* ******** BUSINESS GRID ******** */
    .grid {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .grid section {
        width: 100%;
    }

    /* ******** HOME GRID ******** */
    .home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .current-events {
        grid-column-end: span 2;
    }

    .company-spotlight {
        grid-column-end: span 4;
    }

    .spotlight-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* ******** HERO ******** */
    .hero-image {
        width: 100%;
        height: 400px;
        overflow: hidden;
        border-radius: 0px;
    }

    .hero-img {
        border-radius: 0px;
    }

    .hero-image::after {
        border-radius: 0px;
    }

    .hero-text > h1 {
        font-size: 2rem;
    }

    /* ******** FORM / CARD / DIALOG ******** */
    .join-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 20px;
        padding: 0 20px;
    }

    /* ******** GRID AREAS ******** */

    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}