@media only screen and (min-width: 38rem) {
    /* ******** HEADER ******** */

    /* Add max width to not take up full screen */
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    /* ******** NAVIGATION ******** */

    /* Only display hamburger in small viewports */
    .hamburger {
        display: none;
    }

    /* Display Nav Links in large viewports */
    .navigation {
        display: block;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px;
    }

    .navigation ul > li {
        width: 100%;
    }

    /* ******** SECTIONS ******** */

    h1 {
        margin: 0;
    }

    .home-sections {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 0.5fr;
    }

    .cert-courses {
        grid-column: 1 / 3;
        margin-bottom: 0px;
    }

    .cert-courses ol {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .course-buttons button {
        padding: 5px;
    }

}